*{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}

.container{
    width: 120vw;
    height: 120vh;
    background: linear-gradient(to top right, rgb(30, 30, 255), rgb(85, 0, 85));
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer
}

nav{
    flex: 1;
    text-align: right
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

h1{
    color: fff;
    font-size: 100px;
}

p{
    color: #ffffff;
    font-size: 11px;
    line-height: 15px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.body{
    color: #000000;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
}

label{
    font-weight: bold;
}

.character-amount-container{
    display: flex;
    align-items: center;
}

.number-input{
    width: 2rem;
}

.password-display{
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    border: 1px solid #000000;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.btn{
    grid-column: span 2;
    background: linear-gradient(to top right, rgb(30, 30, 255), rgb(85, 0, 85));
    border: 2px solid #000000;
    color: #fff;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover{
    background-color: #FFFFFF33;
}